#datasets for mosaic pictures
ImageSet/
OldSets/

#input/output, products, indexes
InputImages/
Photomosaics/
PublishableProducts/
Indexes/

#maps
Colormaps/
DifferenceMaps/

#pictures, JSONs
*.png
*.jpg
*.jpeg
*.json

